/*** COLOR PALLET ***/
/*  #444349 - Dark purple
	#c58c84 - Peach
	#c0c0c0 - Silver
	#9f9f9f - Dark silver (Horizontal lines)
	#A8A3AB - Light purple
*/

body {
	background-color: #444349;
	background-image: url(../assets/background.png);
	color: #444349;
	font-family: "Century Gothic", sans-serif;
}

p {
	font-size: 1.10rem;
	margin-bottom: 0;
}

h1 {
	font-family: "Century Gothic", sans-serif;
	background-color: #c58c84;
	color: #c0c0c0;
}

h3 {
	font-size: 1.5rem;
	margin-bottom: 0;
	font-family: "Century Gothic", sans-serif;
}

a {
	color: #444349;
}

a:hover, a:focus {
	color: #c58c84;
}

.top-bar {
	margin-top: 1rem;
	background-color: #c0c0c0;
}

.top-bar, .top-bar ul {
	background-color: #c0c0c0;
}

.top-bar a {
	color: #444349;
}

.menu.vertical > li:hover {
	background-color: #c58c84;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	border-color: #c58c84 transparent transparent;
}

.button {
	background-color: #c58c84;
	color: #c0c0c0;
}

.button:hover, .button:focus {
    background-color: #444349;
    color: #c0c0c0;
}

#banner {
	margin-top: 1rem;
	border-radius: 0.25rem;
}

.sidebar {
	margin-top: 1rem;
	background-color: #c0c0c0;
	border-radius: 0.25rem;
	padding: 2rem 1rem;
	word-wrap: break-word;
}

hr {
    background: #444349;
}

#avatar {
	display: block;
	margin: 0 auto;
}

#mainContent {
	margin-top: 1rem;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius:  0.25rem;
	background-color: #c0c0c0;
}

.fullWidth {
	width: 100%;
	margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

footer {
	margin-top: 1rem;
	background-color: #c0c0c0;

}